<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    style.
      body { text-align: center; }
    title Cats
  body
    h1 Cats 
    each cat in cats
      img(src=`${cat.image}` alt=`${cat.name}` width="230")